.homeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeSelect{
    height: 1.5rem;
}
.homeInput{
    height: 1.5rem;
    padding-left: 0.5rem;
}
.homeSubmitButton{
    width: 7rem;
    background-color: orange;
}
.homeSubmitButton:hover{
    transform: scale(1.03);
    transition: 0.5s;
}