.homeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeSelect{
    height: 1.5rem;
    border-radius: 5px;
    margin-left: 0.4rem;
}
.homeInput{
    height: 1.5rem;
    padding-left: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}
.homeSubmitButton{
    width: 7rem;
    margin-top: 1.3rem;
    background-color: orange;
}
.homeSubmitButton:hover{
    transform: scale(1.03);
    transition: 0.5s;
}