article {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}
.cardButton {
  width: 7rem;
  height: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer {
  width: 20rem;
  height: 23vh;
}
@media screen and (max-width: 600px) {
  article{
    display: flex;
    flex-direction: column;
  }

}